.m-0{
  margin:0;
  padding:0;
}

.mt-3{
  margin-top: 3px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}


.mt-10-vh {
  margin-top: 10vh;
}

.mt-15-vh {
  margin-top: 15vh;
}

.mt-20-vh {
  margin-top: 20vh;
}

.mt-25-vh {
  margin-top: 25vh;
}

.mt-30-vh {
  margin-top: 30vh;
}

.mt-35-vh {
  margin-top: 35vh;
}

.mt-40-vh {
  margin-top: 40vh;
}

.mt-45-vh {
  margin-top: 45vh;
}

.mt-50-vh {
  margin-top: 50vh;
}

.mt-55-vh {
  margin-top: 55vh;
}

.mt-60-vh {
  margin-top: 60vh;
}

.mt-65-vh {
  margin-top: 65vh;
}

.mt-70-vh {
  margin-top: 70vh;
}

.mt-75-vh {
  margin-top: 75vh;
}

.mt-80-vh {
  margin-top: 80vh;
}

.mt-85-vh {
  margin-top: 85vh;
}

.mt-90-vh {
  margin-top: 90vh;
}

.mt-95-vh {
  margin-top: 95vh;
}

.mt-100-vh {
  margin-top: 100vh;
}
.mt-10-pc {
  margin-top: 10%;
}

.mt-15-pc {
  margin-top: 15%;
}

.mt-20-pc {
  margin-top: 20%;
}

.mt-25-pc {
  margin-top: 25%;
}

.mt-30-pc {
  margin-top: 30%;
}

.mt-35-pc {
  margin-top: 35%;
}

.mt-40-pc {
  margin-top: 40%;
}

.mt-45-pc {
  margin-top: 45%;
}

.mt-50-pc {
  margin-top: 50%;
}

.mt-55-pc {
  margin-top: 55%;
}

.mt-60-pc {
  margin-top: 60%;
}

.mt-65-pc {
  margin-top: 65%;
}

.mt-70-pc {
  margin-top: 70%;
}

.mt-75-pc {
  margin-top: 75%;
}

.mt-80-pc {
  margin-top: 80%;
}

.mt-85-pc {
  margin-top: 85%;
}

.mt-90-pc {
  margin-top: 90%;
}

.mt-95-pc {
  margin-top: 95%;
}

.mt-100-pc {
  margin-top: 100%;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}


.mb-10-vh {
  margin-bottom: 10vh;
}

.mb-15-vh {
  margin-bottom: 15vh;
}

.mb-20-vh {
  margin-bottom: 20vh;
}

.mb-25-vh {
  margin-bottom: 25vh;
}

.mb-30-vh {
  margin-bottom: 30vh;
}

.mb-35-vh {
  margin-bottom: 35vh;
}

.mb-40-vh {
  margin-bottom: 40vh;
}

.mb-45-vh {
  margin-bottom: 45vh;
}

.mb-50-vh {
  margin-bottom: 50vh;
}

.mb-55-vh {
  margin-bottom: 55vh;
}

.mb-60-vh {
  margin-bottom: 60vh;
}

.mb-65-vh {
  margin-bottom: 65vh;
}

.mb-70-vh {
  margin-bottom: 70vh;
}

.mb-75-vh {
  margin-bottom: 75vh;
}

.mb-80-vh {
  margin-bottom: 80vh;
}

.mb-85-vh {
  margin-bottom: 85vh;
}

.mb-90-vh {
  margin-bottom: 90vh;
}

.mb-95-vh {
  margin-bottom: 95vh;
}

.mb-100-vh {
  margin-bottom: 100vh;
}

.mb-10-pc {
  margin-bottom: 10%;
}

.mb-15-pc {
  margin-bottom: 15%;
}

.mb-20-pc {
  margin-bottom: 20%;
}

.mb-25-pc {
  margin-bottom: 25%;
}

.mb-30-pc {
  margin-bottom: 30%;
}

.mb-35-pc {
  margin-bottom: 35%;
}

.mb-40-pc {
  margin-bottom: 40%;
}

.mb-45-pc {
  margin-bottom: 45%;
}

.mb-50-pc {
  margin-bottom: 50%;
}

.mb-55-pc {
  margin-bottom: 55%;
}

.mb-60-pc {
  margin-bottom: 60%;
}

.mb-65-pc {
  margin-bottom: 65%;
}

.mb-70-pc {
  margin-bottom: 70%;
}

.mb-75-pc {
  margin-bottom: 75%;
}

.mb-80-pc {
  margin-bottom: 80%;
}

.mb-85-pc {
  margin-bottom: 85%;
}

.mb-90-pc {
  margin-bottom: 90%;
}

.mb-95-pc {
  margin-bottom: 95%;
}

.mb-100-pc {
  margin-bottom: 100%;
}
.ml-3 {
  margin-left: 3px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-65 {
  margin-left: 65px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-75 {
  margin-left: 75px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-85 {
  margin-left: 85px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-95 {
  margin-left: 95px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-3-vw {
  margin-left: 3vw;
}

.ml-5-pc {
  margin-left: 5vw;
}


.ml-10-vw {
  margin-left: 10vw;
}

.ml-15-vw {
  margin-left: 15vw;
}

.ml-20-vw {
  margin-left: 20vw;
}

.ml-25-vw {
  margin-left: 25vw;
}

.ml-30-vw {
  margin-left: 30vw;
}

.ml-35-vw {
  margin-left: 35vw;
}

.ml-40-vw {
  margin-left: 40vw;
}

.ml-45-vw {
  margin-left: 45vw;
}

.ml-50-vw {
  margin-left: 50vw;
}

.ml-55-vw {
  margin-left: 55vw;
}

.ml-60-vw {
  margin-left: 60vw;
}

.ml-65-vw {
  margin-left: 65vw;
}

.ml-70-vw {
  margin-left: 70vw;
}

.ml-75-vw {
  margin-left: 75vw;
}

.ml-80-vw {
  margin-left: 80vw;
}

.ml-85-vw {
  margin-left: 85vw;
}

.ml-90-vw {
  margin-left: 90vw;
}

.ml-95-vw {
  margin-left: 95vw;
}

.ml-100-vw {
  margin-left: 100vw;
}

.mr-3-pc {
  margin-left: 3%;
}

.mr-5-pc {
  margin-left: 5%;
}

.ml-10-pc {
  margin-left: 10%;
}

.ml-15-pc {
  margin-left: 15%;
}

.ml-20-pc {
  margin-left: 20%;
}

.ml-25-pc {
  margin-left: 25%;
}

.ml-30-pc {
  margin-left: 30%;
}

.ml-35-pc {
  margin-left: 35%;
}

.ml-40-pc {
  margin-left: 40%;
}

.ml-45-pc {
  margin-left: 45%;
}

.ml-50-pc {
  margin-left: 50%;
}

.ml-55-pc {
  margin-left: 55%;
}

.ml-60-pc {
  margin-left: 60%;
}

.ml-65-pc {
  margin-left: 65%;
}

.ml-70-pc {
  margin-left: 70%;
}

.ml-75-pc {
  margin-left: 75%;
}

.ml-80-pc {
  margin-left: 80%;
}

.ml-85-pc {
  margin-left: 85%;
}

.ml-90-pc {
  margin-left: 90%;
}

.ml-95-pc {
  margin-left: 95%;
}

.ml-100-pc {
  margin-left: 100%;
}

.mr-3 {
  margin-right: 3px 0;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-55 {
  margin-right: 55px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-65 {
  margin-right: 65px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-75 {
  margin-right: 75px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-85 {
  margin-right: 85px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-95 {
  margin-right: 95px;
}

.mr-100 {
  margin-right: 100px;
}

.mr-3-vw {
  margin-right: 3vw;
}

.mr-5-vw {
  margin-right: 5vw;
}


.mr-10-vw {
  margin-right: 10vw;
}

.mr-15-vw {
  margin-right: 15vw;
}

.mr-20-vw {
  margin-right: 20vw;
}

.mr-25-vw {
  margin-right: 25vw;
}

.mr-30-vw {
  margin-right: 30vw;
}

.mr-35-vw {
  margin-right: 35vw;
}

.mr-40-vw {
  margin-right: 40vw;
}

.mr-45-vw {
  margin-right: 45vw;
}

.mr-50-vw {
  margin-right: 50vw;
}

.mr-55-vw {
  margin-right: 55vw;
}

.mr-60-vw {
  margin-right: 60vw;
}

.mr-65-vw {
  margin-right: 65vw;
}

.mr-70-vw {
  margin-right: 70vw;
}

.mr-75-vw {
  margin-right: 75vw;
}

.mr-80-vw {
  margin-right: 80vw;
}

.mr-85-vw {
  margin-right: 85vw;
}

.mr-90-vw {
  margin-right: 90vw;
}

.mr-95-vw {
  margin-right: 95vw;
}

.mr-100-vw {
  margin-right: 100vw;
}

.mr-3-pc {
  margin-right: 3%;
}

.mr-5-pc {
  margin-right: 5%;
}

.mr-10-pc {
  margin-right: 10%;
}

.mr-15-pc {
  margin-right: 15%;
}

.mr-20-pc {
  margin-right: 20%;
}

.mr-25-pc {
  margin-right: 25%;
}

.mr-30-pc {
  margin-right: 30%;
}

.mr-35-pc {
  margin-right: 35%;
}

.mr-40-pc {
  margin-right: 40%;
}

.mr-45-pc {
  margin-right: 45%;
}

.mr-50-pc {
  margin-right: 50%;
}

.mr-55-pc {
  margin-right: 55%;
}

.mr-60-pc {
  margin-right: 60%;
}

.mr-65-pc {
  margin-right: 65%;
}

.mr-70-pc {
  margin-right: 70%;
}

.mr-75-pc {
  margin-right: 75%;
}

.mr-80-pc {
  margin-right: 80%;
}

.mr-85-pc {
  margin-right: 85%;
}

.mr-90-pc {
  margin-right: 90%;
}

.mr-95-pc {
  margin-right: 95%;
}

.mr-100-pc {
  margin-right: 100%;
}

.my-3 {
  margin-top: 3px;
  margin-bottom: 3px
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-25 {
  margin-top: 25px;
  margin-bottom: 25px
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-45 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-55 {
  margin-top: 55px;
  margin-bottom: 55px
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.my-65 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.my-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.my-75 {
  margin-top: 75px;
  margin-bottom: 75px;

}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-85 {
  margin-top: 85px;
  margin-bottom: 85px;
}

.my-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.my-95 {
  margin-top: 95px;
  margin-bottom: 95px()
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.my-3-vh {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.my-5-vh {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.my-10-vh {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.my-15-vh {
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.my-20-vh {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.my-25-vh {
  margin-top: 25vh;
  margin-bottom: 3vh;
}

.my-30-vh {
  margin-top: 30vh;
  margin-bottom: 30vh;
}

.my-35-vh {
  margin-top: 35vh;
  margin-bottom: 35vh;
}

.my-40-vh {
  margin-top: 40vh;
  margin-bottom: 40vh;
}

.my-45-vh {
  margin-top: 45vh;
  margin-bottom: 45vh;
}

.my-50-vh {
  margin-top: 50vh;
  margin-bottom: 50vh;
}

.my-55-vh {
  margin-top: 55vh;
  margin-bottom: 55vh;
}

.my-60-vh {
  margin-top: 60vh;
  margin-bottom: 60vh;
}

.my-65-vh {
  margin-top: 65vh;
  margin-bottom: 65vh;
}

.my-70-vh {
  margin-top: 70vh;
  margin-bottom: 70vh;
}

.my-75-vh {
  margin-top: 75vh;
  margin-bottom: 75vh;
}

.my-80-vh {
  margin-top: 80vh;
  margin-bottom: 80vh;
}

.my-85-vh {
  margin-top: 85vh;
  margin-bottom: 85vh;
}

.my-90-vh {
  margin-top: 90vh;
  margin-bottom: 90vh;
}

.my-95-vh {
  margin-top: 95vh;
  margin-bottom: 95vh;
}

.my-100-vh {
  margin-top: 100vh;
  margin-bottom: 100vh;
}


.my-3-pc {
  margin-top: 3%;
  margin-bottom: 3%;
}

.my-5-pc {
  margin-top: 5%;
  margin-bottom: 5%;
}

.my-10-pc {
  margin-top: 10%;
  margin-bottom: 10%;
}

.my-15-pc {
  margin-top: 15%;
  margin-bottom: 15%;
}

.my-20-pc {
  margin-top: 20%;
  margin-bottom: 20%;
}

.my-25-pc {
  margin-top: 25%;
  margin-bottom: 3%;
}

.my-30-pc {
  margin-top: 30%;
  margin-bottom: 30%;
}

.my-35-pc {
  margin-top: 35%;
  margin-bottom: 35%;
}

.my-40-pc {
  margin-top: 40%;
  margin-bottom: 40%;
}

.my-45-pc {
  margin-top: 45%;
  margin-bottom: 45%;
}

.my-50-pc {
  margin-top: 50%;
  margin-bottom: 50%;
}

.my-55-pc {
  margin-top: 55%;
  margin-bottom: 55%;
}

.my-60-pc {
  margin-top: 60%;
  margin-bottom: 60%;
}

.my-65-pc {
  margin-top: 65%;
  margin-bottom: 65%;
}

.my-70-pc {
  margin-top: 70%;
  margin-bottom: 70%;
}

.my-75-pc {
  margin-top: 75%;
  margin-bottom: 75%;
}

.my-80-pc {
  margin-top: 80%;
  margin-bottom: 80%;
}

.my-85-pc {
  margin-top: 85%;
  margin-bottom: 85%;
}

.my-90-pc {
  margin-top: 90%;
  margin-bottom: 90%;
}

.my-95-pc {
  margin-top: 95%;
  margin-bottom: 95%;
}

.my-100-pc {
  margin-top: 100%;
  margin-bottom: 100%;
}



.mx-3 {
  margin-left: 3px;
  margin-right: 3px
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-15 {
  margin-left: 15px;
  margin-right: 15px
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-25 {
  margin-left: 25px;
  margin-right: 25px
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx-35 {
  margin-left: 35px;
  margin-right: 35px;
}

.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-45 {
  margin-left: 45px;
  margin-right: 45px;
}

.mx-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.mx-55 {
  margin-left: 55px;
  margin-right: 55px
}

.mx-60 {
  margin-left: 60px;
  margin-right: 60px;
}

.mx-65 {
  margin-left: 60px;
  margin-right: 60px;
}

.mx-70 {
  margin-left: 70px;
  margin-right: 70px;
}

.mx-75 {
  margin-left: 75px;
  margin-right: 75px;

}

.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}

.mx-85 {
  margin-left: 85px;
  margin-right: 85px;
}

.mx-90 {
  margin-left: 90px;
  margin-right: 90px;
}

.mx-95 {
  margin-left: 95px;
  margin-right: 95px()
}

.mx-100 {
  margin-left: 100px;
  margin-right: 100px;
}
.mx-3-vw {
  margin-left: 3vw;
  margin-right: 3vw;
}

.mx-5-vw {
  margin-left: 5vw;
  margin-right: 5vw;
}

.mx-10-vw {
  margin-left: 10vw;
  margin-right: 10vw;
}

.mx-15-vw {
  margin-left: 15vw;
  margin-right: 15vw;
}

.mx-20-vw {
  margin-left: 20vw;
  margin-right: 20vw;
}

.mx-25-vw {
  margin-left: 25vw;
  margin-right: 3vw;
}

.mx-30-vw {
  margin-left: 30vw;
  margin-right: 30vw;
}

.mx-35-vw {
  margin-left: 35vw;
  margin-right: 35vw;
}

.mx-40-vw {
  margin-left: 40vw;
  margin-right: 40vw;
}

.mx-45-vw {
  margin-left: 45vw;
  margin-right: 45vw;
}

.mx-50-vw {
  margin-left: 50vw;
  margin-right: 50vw;
}

.mx-55-vw {
  margin-left: 55vw;
  margin-right: 55vw;
}

.mx-60-vw {
  margin-left: 60vw;
  margin-right: 60vw;
}

.mx-65-vw {
  margin-left: 65vw;
  margin-right: 65vw;
}

.mx-70-vw {
  margin-left: 70vw;
  margin-right: 70vw;
}

.mx-75-vw {
  margin-left: 75vw;
  margin-right: 75vw;
}

.mx-80-vw {
  margin-left: 80vw;
  margin-right: 80vw;
}

.mx-85-vw {
  margin-left: 85vw;
  margin-right: 85vw;
}

.mx-90-vw {
  margin-left: 90vw;
  margin-right: 90vw;
}

.mx-95-vw {
  margin-left: 95vw;
  margin-right: 95vw;
}

.mx-100-vw {
  margin-left: 100vw;
  margin-right: 100vw;
}
.mx-3-pc {
  margin-left: 3%;
  margin-right: 3%;
}

.mx-5-pc {
  margin-left: 5%;
  margin-right: 5%;
}

.mx-10-pc {
  margin-left: 10%;
  margin-right: 10%;
}

.mx-15-pc {
  margin-left: 15%;
  margin-right: 15%;
}

.mx-20-pc {
  margin-left: 20%;
  margin-right: 20%;
}

.mx-25-pc {
  margin-left: 25%;
  margin-right: 3%;
}

.mx-30-pc {
  margin-left: 30%;
  margin-right: 30%;
}

.mx-35-pc {
  margin-left: 35%;
  margin-right: 35%;
}

.mx-40-pc {
  margin-left: 40%;
  margin-right: 40%;
}

.mx-45-pc {
  margin-left: 45%;
  margin-right: 45%;
}

.mx-50-pc {
  margin-left: 50%;
  margin-right: 50%;
}

.mx-55-pc {
  margin-left: 55%;
  margin-right: 55%;
}

.mx-60-pc {
  margin-left: 60%;
  margin-right: 60%;
}

.mx-65-pc {
  margin-left: 65%;
  margin-right: 65%;
}

.mx-70-pc {
  margin-left: 70%;
  margin-right: 70%;
}

.mx-75-pc {
  margin-left: 75%;
  margin-right: 75%;
}

.mx-80-pc {
  margin-left: 80%;
  margin-right: 80%;
}

.mx-85-pc {
  margin-left: 85%;
  margin-right: 85%;
}

.mx-90-pc {
  margin-left: 90%;
  margin-right: 90%;
}

.mx-95-pc {
  margin-left: 95%;
  margin-right: 95%;
}

.mx-100-pc {
  margin-left: 100%;
  margin-right: 100%;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.m-35 {
  margin: 35px;
}

.m-40 {
  margin: 40px;
}

.m-45 {
  margin: 45px;
}

.m-50 {
  margin: 50px;
}

.m-55 {
  margin: 55px;
}

.m-60 {
  margin: 60px;
}

.m-65 {
  margin: 65px;
}

.m-70 {
  margin: 70px;
}

.m-75 {
  margin: 75px;
}

.m-80 {
  margin: 80px;
}

.m-85 {
  margin: 85px;
}

.m-90 {
  margin: 90px;
}

.m-95 {
  margin: 95px;
}

.m-100 {
  margin: 100px;
}

.m-5-pc {
  margin: 5%;
}

.m-10-pc {
  margin: 10%;
}

.m-15-pc {
  margin: 15%;
}

.m-20-pc {
  margin: 20%;
}

.m-25-pc {
  margin: 25%;
}

.m-30-pc {
  margin: 30%;
}

.m-35-pc {
  margin: 35%;
}

.m-40-pc {
  margin: 40%;
}

.m-45-pc {
  margin: 45%;
}

.m-50-pc {
  margin: 50%;
}

.m-55-pc {
  margin: 55%;
}

.m-60-pc {
  margin: 60%;
}

.m-65-pc {
  margin: 65%;
}

.m-70-pc {
  margin: 70%;
}

.m-75-pc {
  margin: 75%;
}

.m-80-pc {
  margin: 80%;
}

.m-85-pc {
  margin: 85%;
}

.m-90-pc {
  margin: 90%;
}

.m-95-pc {
  margin: 95%;
}

.m-100-pc {
  margin: 100%;
}