.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}


.pt-10-vh {
  padding-top: 10vh;
}

.pt-15-vh {
  padding-top: 15vh;
}

.pt-20-vh {
  padding-top: 20vh;
}

.pt-25-vh {
  padding-top: 25vh;
}

.pt-30-vh {
  padding-top: 30vh;
}

.pt-35-vh {
  padding-top: 35vh;
}

.pt-40-vh {
  padding-top: 40vh;
}

.pt-45-vh {
  padding-top: 45vh;
}

.pt-50-vh {
  padding-top: 50vh;
}

.pt-55-vh {
  padding-top: 55vh;
}

.pt-60-vh {
  padding-top: 60vh;
}

.pt-65-vh {
  padding-top: 65vh;
}

.pt-70-vh {
  padding-top: 70vh;
}

.pt-75-vh {
  padding-top: 75vh;
}

.pt-80-vh {
  padding-top: 80vh;
}

.pt-85-vh {
  padding-top: 85vh;
}

.pt-90-vh {
  padding-top: 90vh;
}

.pt-95-vh {
  padding-top: 95vh;
}

.pt-100-vh {
  padding-top: 100vh;
}

.pt-10-pc {
  padding-top: 10%;
}

.pt-15-pc {
  padding-top: 15%;
}

.pt-20-pc {
  padding-top: 20%;
}

.pt-25-pc {
  padding-top: 25%;
}

.pt-30-pc {
  padding-top: 30%;
}

.pt-35-pc {
  padding-top: 35%;
}

.pt-40-pc {
  padding-top: 40%;
}

.pt-45-pc {
  padding-top: 45%;
}

.pt-50-pc {
  padding-top: 50%;
}

.pt-55-pc {
  padding-top: 55%;
}

.pt-60-pc {
  padding-top: 60%;
}

.pt-65-pc {
  padding-top: 65%;
}

.pt-70-pc {
  padding-top: 70%;
}

.pt-75-pc {
  padding-top: 75%;
}

.pt-80-pc {
  padding-top: 80%;
}

.pt-85-pc {
  padding-top: 85%;
}

.pt-90-pc {
  padding-top: 90%;
}

.pt-95-pc {
  padding-top: 95%;
}

.pt-100-pc {
  padding-top: 100%;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}


.pb-10-vh {
  padding-bottom: 10vh;
}

.pb-15-vh {
  padding-bottom: 15vh;
}

.pb-20-vh {
  padding-bottom: 20vh;
}

.pb-25-vh {
  padding-bottom: 25vh;
}

.pb-30-vh {
  padding-bottom: 30vh;
}

.pb-35-vh {
  padding-bottom: 35vh;
}

.pb-40-vh {
  padding-bottom: 40vh;
}

.pb-45-vh {
  padding-bottom: 45vh;
}

.pb-50-vh {
  padding-bottom: 50vh;
}

.pb-55-vh {
  padding-bottom: 55vh;
}

.pb-60-vh {
  padding-bottom: 60vh;
}

.pb-65-vh {
  padding-bottom: 65vh;
}

.pb-70-vh {
  padding-bottom: 70vh;
}

.pb-75-vh {
  padding-bottom: 75vh;
}

.pb-80-vh {
  padding-bottom: 80vh;
}

.pb-85-vh {
  padding-bottom: 85vh;
}

.pb-90-vh {
  padding-bottom: 90vh;
}

.pb-95-vh {
  padding-bottom: 95vh;
}

.pb-100-vh {
  padding-bottom: 100vh;
}

.pb-10-pc {
  padding-bottom: 10%;
}

.pb-15-pc {
  padding-bottom: 15%;
}

.pb-20-pc {
  padding-bottom: 20%;
}

.pb-25-pc {
  padding-bottom: 25%;
}

.pb-30-pc {
  padding-bottom: 30%;
}

.pb-35-pc {
  padding-bottom: 35%;
}

.pb-40-pc {
  padding-bottom: 40%;
}

.pb-45-pc {
  padding-bottom: 45%;
}

.pb-50-pc {
  padding-bottom: 50%;
}

.pb-55-pc {
  padding-bottom: 55%;
}

.pb-60-pc {
  padding-bottom: 60%;
}

.pb-65-pc {
  padding-bottom: 65%;
}

.pb-70-pc {
  padding-bottom: 70%;
}

.pb-75-pc {
  padding-bottom: 75%;
}

.pb-80-pc {
  padding-bottom: 80%;
}

.pb-85-pc {
  padding-bottom: 85%;
}

.pb-90-pc {
  padding-bottom: 90%;
}

.pb-95-pc {
  padding-bottom: 95%;
}

.pb-100-pc {
  padding-bottom: 100%;
}

.pl-3 {
  padding-left: 3px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-55 {
  padding-left: 55px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-65 {
  padding-left: 65px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-75 {
  padding-left: 75px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-85 {
  padding-left: 85px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-95 {
  padding-left: 95px;
}

.pl-100 {
  padding-left: 100px;
}

.pl-3-vw {
  padding-left: 3vw;
}

.pl-5-pc {
  padding-left: 5vw;
}


.pl-10-vw {
  padding-left: 10vw;
}

.pl-15-vw {
  padding-left: 15vw;
}

.pl-20-vw {
  padding-left: 20vw;
}

.pl-25-vw {
  padding-left: 25vw;
}

.pl-30-vw {
  padding-left: 30vw;
}

.pl-35-vw {
  padding-left: 35vw;
}

.pl-40-vw {
  padding-left: 40vw;
}

.pl-45-vw {
  padding-left: 45vw;
}

.pl-50-vw {
  padding-left: 50vw;
}

.pl-55-vw {
  padding-left: 55vw;
}

.pl-60-vw {
  padding-left: 60vw;
}

.pl-65-vw {
  padding-left: 65vw;
}

.pl-70-vw {
  padding-left: 70vw;
}

.pl-75-vw {
  padding-left: 75vw;
}

.pl-80-vw {
  padding-left: 80vw;
}

.pl-85-vw {
  padding-left: 85vw;
}

.pl-90-vw {
  padding-left: 90vw;
}

.pl-95-vw {
  padding-left: 95vw;
}

.pl-100-vw {
  padding-left: 100vw;
}

.pr-3-pc {
  padding-left: 3%;
}

.pr-5-pc {
  padding-left: 5%;
}

.pl-10-pc {
  padding-left: 10%;
}

.pl-15-pc {
  padding-left: 15%;
}

.pl-20-pc {
  padding-left: 20%;
}

.pl-25-pc {
  padding-left: 25%;
}

.pl-30-pc {
  padding-left: 30%;
}

.pl-35-pc {
  padding-left: 35%;
}

.pl-40-pc {
  padding-left: 40%;
}

.pl-45-pc {
  padding-left: 45%;
}

.pl-50-pc {
  padding-left: 50%;
}

.pl-55-pc {
  padding-left: 55%;
}

.pl-60-pc {
  padding-left: 60%;
}

.pl-65-pc {
  padding-left: 65%;
}

.pl-70-pc {
  padding-left: 70%;
}

.pl-75-pc {
  padding-left: 75%;
}

.pl-80-pc {
  padding-left: 80%;
}

.pl-85-pc {
  padding-left: 85%;
}

.pl-90-pc {
  padding-left: 90%;
}

.pl-95-pc {
  padding-left: 95%;
}

.pl-100-pc {
  padding-left: 100%;
}

.pr-3 {
  padding-right: 3px 0;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-55 {
  padding-right: 55px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-65 {
  padding-right: 65px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-75 {
  padding-right: 75px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-85 {
  padding-right: 85px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-95 {
  padding-right: 95px;
}

.pr-100 {
  padding-right: 100px;
}

.pr-3-vw {
  padding-right: 3vw;
}

.pr-5-vw {
  padding-right: 5vw;
}


.pr-10-vw {
  padding-right: 10vw;
}

.pr-15-vw {
  padding-right: 15vw;
}

.pr-20-vw {
  padding-right: 20vw;
}

.pr-25-vw {
  padding-right: 25vw;
}

.pr-30-vw {
  padding-right: 30vw;
}

.pr-35-vw {
  padding-right: 35vw;
}

.pr-40-vw {
  padding-right: 40vw;
}

.pr-45-vw {
  padding-right: 45vw;
}

.pr-50-vw {
  padding-right: 50vw;
}

.pr-55-vw {
  padding-right: 55vw;
}

.pr-60-vw {
  padding-right: 60vw;
}

.pr-65-vw {
  padding-right: 65vw;
}

.pr-70-vw {
  padding-right: 70vw;
}

.pr-75-vw {
  padding-right: 75vw;
}

.pr-80-vw {
  padding-right: 80vw;
}

.pr-85-vw {
  padding-right: 85vw;
}

.pr-90-vw {
  padding-right: 90vw;
}

.pr-95-vw {
  padding-right: 95vw;
}

.pr-100-vw {
  padding-right: 100vw;
}

.pr-3-pc {
  padding-right: 3%;
}

.pr-5-pc {
  padding-right: 5%;
}

.pr-10-pc {
  padding-right: 10%;
}

.pr-15-pc {
  padding-right: 15%;
}

.pr-20-pc {
  padding-right: 20%;
}

.pr-25-pc {
  padding-right: 25%;
}

.pr-30-pc {
  padding-right: 30%;
}

.pr-35-pc {
  padding-right: 35%;
}

.pr-40-pc {
  padding-right: 40%;
}

.pr-45-pc {
  padding-right: 45%;
}

.pr-50-pc {
  padding-right: 50%;
}

.pr-55-pc {
  padding-right: 55%;
}

.pr-60-pc {
  padding-right: 60%;
}

.pr-65-pc {
  padding-right: 65%;
}

.pr-70-pc {
  padding-right: 70%;
}

.pr-75-pc {
  padding-right: 75%;
}

.pr-80-pc {
  padding-right: 80%;
}

.pr-85-pc {
  padding-right: 85%;
}

.pr-90-pc {
  padding-right: 90%;
}

.pr-95-pc {
  padding-right: 95%;
}

.pr-100-pc {
  padding-right: 100%;
}

.py-3 {
  padding-top: 3px;
  padding-bottom: 3px
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-35 {
  padding-top: 35px;
  padding-left: 35px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-55 {
  padding-top: 55px;
  padding-bottom: 55px
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-65 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.py-75 {
  padding-top: 75px;
  padding-bottom: 75px;

}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-85 {
  padding-top: 85px;
  padding-bottom: 85px;
}

.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.py-95 {
  padding-top: 95px;
  padding-bottom: 95px()
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.py-3-vh {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.py-5-vh {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.py-10-vh {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.py-15-vh {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.py-20-vh {
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.py-25-vh {
  padding-top: 25vh;
  padding-bottom: 3vh;
}

.py-30-vh {
  padding-top: 30vh;
  padding-bottom: 30vh;
}

.py-35-vh {
  padding-top: 35vh;
  padding-bottom: 35vh;
}

.py-40-vh {
  padding-top: 40vh;
  padding-bottom: 40vh;
}

.py-45-vh {
  padding-top: 45vh;
  padding-bottom: 45vh;
}

.py-50-vh {
  padding-top: 50vh;
  padding-bottom: 50vh;
}

.py-55-vh {
  padding-top: 55vh;
  padding-bottom: 55vh;
}

.py-60-vh {
  padding-top: 60vh;
  padding-bottom: 60vh;
}

.py-65-vh {
  padding-top: 65vh;
  padding-bottom: 65vh;
}

.py-70-vh {
  padding-top: 70vh;
  padding-bottom: 70vh;
}

.py-75-vh {
  padding-top: 75vh;
  padding-bottom: 75vh;
}

.py-80-vh {
  padding-top: 80vh;
  padding-bottom: 80vh;
}

.py-85-vh {
  padding-top: 85vh;
  padding-bottom: 85vh;
}

.py-90-vh {
  padding-top: 90vh;
  padding-bottom: 90vh;
}

.py-95-vh {
  padding-top: 95vh;
  padding-bottom: 95vh;
}

.py-100-vh {
  padding-top: 100vh;
  padding-bottom: 100vh;
}


.py-3-pc {
  padding-top: 3%;
  padding-bottom: 3%;
}

.py-5-pc {
  padding-top: 5%;
  padding-bottom: 5%;
}

.py-10-pc {
  padding-top: 10%;
  padding-bottom: 10%;
}

.py-15-pc {
  padding-top: 15%;
  padding-bottom: 15%;
}

.py-20-pc {
  padding-top: 20%;
  padding-bottom: 20%;
}

.py-25-pc {
  padding-top: 25%;
  padding-bottom: 3%;
}

.py-30-pc {
  padding-top: 30%;
  padding-bottom: 30%;
}

.py-35-pc {
  padding-top: 35%;
  padding-bottom: 35%;
}

.py-40-pc {
  padding-top: 40%;
  padding-bottom: 40%;
}

.py-45-pc {
  padding-top: 45%;
  padding-bottom: 45%;
}

.py-50-pc {
  padding-top: 50%;
  padding-bottom: 50%;
}

.py-55-pc {
  padding-top: 55%;
  padding-bottom: 55%;
}

.py-60-pc {
  padding-top: 60%;
  padding-bottom: 60%;
}

.py-65-pc {
  padding-top: 65%;
  padding-bottom: 65%;
}

.py-70-pc {
  padding-top: 70%;
  padding-bottom: 70%;
}

.py-75-pc {
  padding-top: 75%;
  padding-bottom: 75%;
}

.py-80-pc {
  padding-top: 80%;
  padding-bottom: 80%;
}

.py-85-pc {
  padding-top: 85%;
  padding-bottom: 85%;
}

.py-90-pc {
  padding-top: 90%;
  padding-bottom: 90%;
}

.py-95-pc {
  padding-top: 95%;
  padding-bottom: 95%;
}

.py-100-pc {
  padding-top: 100%;
  padding-bottom: 100%;
}



.px-3 {
  padding-left: 3px;
  padding-right: 3px
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-25 {
  padding-left: 25px;
  padding-right: 25px
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-35 {
  padding-left: 35px;
  padding-right: 35px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-45 {
  padding-left: 45px;
  padding-right: 45px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.px-55 {
  padding-left: 55px;
  padding-right: 55px
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.px-65 {
  padding-left: 60px;
  padding-right: 60px;
}

.px-70 {
  padding-left: 70px;
  padding-right: 70px;
}

.px-75 {
  padding-left: 75px;
  padding-right: 75px;

}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.px-85 {
  padding-left: 85px;
  padding-right: 85px;
}

.px-90 {
  padding-left: 90px;
  padding-right: 90px;
}

.px-95 {
  padding-left: 95px;
  padding-right: 95px()
}

.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.px-3-vw {
  padding-left: 3vw;
  padding-right: 3vw;
}

.px-5-vw {
  padding-left: 5vw;
  padding-right: 5vw;
}

.px-10-vw {
  padding-left: 10vw;
  padding-right: 10vw;
}

.px-15-vw {
  padding-left: 15vw;
  padding-right: 15vw;
}

.px-20-vw {
  padding-left: 20vw;
  padding-right: 20vw;
}

.px-25-vw {
  padding-left: 25vw;
  padding-right: 3vw;
}

.px-30-vw {
  padding-left: 30vw;
  padding-right: 30vw;
}

.px-35-vw {
  padding-left: 35vw;
  padding-right: 35vw;
}

.px-40-vw {
  padding-left: 40vw;
  padding-right: 40vw;
}

.px-45-vw {
  padding-left: 45vw;
  padding-right: 45vw;
}

.px-50-vw {
  padding-left: 50vw;
  padding-right: 50vw;
}

.px-55-vw {
  padding-left: 55vw;
  padding-right: 55vw;
}

.px-60-vw {
  padding-left: 60vw;
  padding-right: 60vw;
}

.px-65-vw {
  padding-left: 65vw;
  padding-right: 65vw;
}

.px-70-vw {
  padding-left: 70vw;
  padding-right: 70vw;
}

.px-75-vw {
  padding-left: 75vw;
  padding-right: 75vw;
}

.px-80-vw {
  padding-left: 80vw;
  padding-right: 80vw;
}

.px-85-vw {
  padding-left: 85vw;
  padding-right: 85vw;
}

.px-90-vw {
  padding-left: 90vw;
  padding-right: 90vw;
}

.px-95-vw {
  padding-left: 95vw;
  padding-right: 95vw;
}

.px-100-vw {
  padding-left: 100vw;
  padding-right: 100vw;
}

.px-3-pc {
  padding-left: 3%;
  padding-right: 3%;
}

.px-5-pc {
  padding-left: 5%;
  padding-right: 5%;
}

.px-10-pc {
  padding-left: 10%;
  padding-right: 10%;
}

.px-15-pc {
  padding-left: 15%;
  padding-right: 15%;
}

.px-20-pc {
  padding-left: 20%;
  padding-right: 20%;
}

.px-25-pc {
  padding-left: 25%;
  padding-right: 3%;
}

.px-30-pc {
  padding-left: 30%;
  padding-right: 30%;
}

.px-35-pc {
  padding-left: 35%;
  padding-right: 35%;
}

.px-40-pc {
  padding-left: 40%;
  padding-right: 40%;
}

.px-45-pc {
  padding-left: 45%;
  padding-right: 45%;
}

.px-50-pc {
  padding-left: 50%;
  padding-right: 50%;
}

.px-55-pc {
  padding-left: 55%;
  padding-right: 55%;
}

.px-60-pc {
  padding-left: 60%;
  padding-right: 60%;
}

.px-65-pc {
  padding-left: 65%;
  padding-right: 65%;
}

.px-70-pc {
  padding-left: 70%;
  padding-right: 70%;
}

.px-75-pc {
  padding-left: 75%;
  padding-right: 75%;
}

.px-80-pc {
  padding-left: 80%;
  padding-right: 80%;
}

.px-85-pc {
  padding-left: 85%;
  padding-right: 85%;
}

.px-90-pc {
  padding-left: 90%;
  padding-right: 90%;
}

.px-95-pc {
  padding-left: 95%;
  padding-right: 95%;
}

.px-100-pc {
  padding-left: 100%;
  padding-right: 100%;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-35 {
  padding: 35px;
}

.p-40 {
  padding: 40px;
}

.p-45 {
  padding: 45px;
}

.p-50 {
  padding: 50px;
}

.p-55 {
  padding: 55px;
}

.p-60 {
  padding: 60px;
}

.p-65 {
  padding: 65px;
}

.p-70 {
  padding: 70px;
}

.p-75 {
  padding: 75px;
}

.p-80 {
  padding: 80px;
}

.p-85 {
  padding: 85px;
}

.p-90 {
  padding: 90px;
}

.p-95 {
  padding: 95px;
}

.p-100 {
  padding: 100px;
}

.p-5-pc {
  padding: 5%;
}

.p-10-pc {
  padding: 10%;
}

.p-15-pc {
  padding: 15%;
}

.p-20-pc {
  padding: 20%;
}

.p-25-pc {
  padding: 25%;
}

.p-30-pc {
  padding: 30%;
}

.p-35-pc {
  padding: 35%;
}

.p-40-pc {
  padding: 40%;
}

.p-45-pc {
  padding: 45%;
}

.p-50-pc {
  padding: 50%;
}

.p-55-pc {
  padding: 55%;
}

.p-60-pc {
  padding: 60%;
}

.p-65-pc {
  padding: 65%;
}

.p-70-pc {
  padding: 70%;
}

.p-75-pc {
  padding: 75%;
}

.p-80-pc {
  padding: 80%;
}

.p-85-pc {
  padding: 85%;
}

.p-90-pc {
  padding: 90%;
}

.p-95-pc {
  padding: 95%;
}

.p-100-pc {
  padding: 100%;
}