{%load static%}

<link rel="stylesheet" href="{% static 'css/general/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/general/navMenu.css' %}">


<link rel="stylesheet" href="{% static 'css/miscellaneous/card.css' %}">
<link rel="stylesheet" href="{% static 'css/miscellaneous/underline.css' %}">
<link rel="stylesheet" href="{% static 'css/miscellaneous/carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/miscellaneous/paginator.css' %}">

<link rel="stylesheet" href="{% static 'css/color/bgColor.css' %}">
<link rel="stylesheet" href="{% static 'css/color/borderColor.css' %}">
<link rel="stylesheet" href="{% static 'css/color/fontColor.css' %}">
<link rel="stylesheet" href="{% static 'css/color/rootColor.css' %}">

<link rel="stylesheet" href="{% static 'css/display/flex.css' %}">


<link rel="stylesheet" href="{% static 'css/size/width.css' %}">
<link rel="stylesheet" href="{% static 'css/size/height.css' %}">
<link rel="stylesheet" href="{% static 'css/size/margin.css' %}">
<link rel="stylesheet" href="{% static 'css/size/padding.css' %}">

<link rel="stylesheet" href="{% static 'css/textTag/border.css' %}">
<link rel="stylesheet" href="{% static 'css/textTag/font.css' %}">
<link rel="stylesheet" href="{% static 'css/textTag/radius.css' %}">
<link rel="stylesheet" href="{% static 'css/textTag/weight.css' %}">
<link rel="stylesheet" href="{% static 'css/textTag/button.css' %}">
<link rel="stylesheet" href="{% static 'css/textTag/input.css' %}">
<link rel="stylesheet" href="{% static 'css/textTag/select.css' %}">

<link rel="stylesheet" href="{% static 'main.css' %}">
<!--
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
-->