{% load static %}
<div class="main-nav">
  <div class="text-center w100">
    <div class="w100 sflex items-center">
      <h2 class="text-center font-xxl green-pale w80">E-commerce Project</h2>
      <button class="menu-toggle button-l pointer font-xxl bg-black-pale white green-active w20">&#9776;</button>
      <div class="clear"></div>
    </div>
    <div class="menu font-xl w100">
      <div class="button-group">
        <a class="button bg-black white-pale green-active" href="{% url 'ecommerce:product:index' %}">Home<i
            class="fa-solid fa-house ml-10"></i></a>
        {% if user.is_authenticated %}
        <a class="button bg-black white-pale green-active" href="{% url 'ecommerce:account:logout' %}">logout<i
            class="fa-solid fa-right-from-bracket ml-10"></i></a>
        <a class="button bg-black white-pale green-active" href="{% url 'ecommerce:account:dashboard' %}">Dashboard<i
            class="fa-solid fa-keyboard ml-10"></i></a>
        <a class="button bg-black white-pale green-active" href="{% url 'ecommerce:cart:view' %}">Cart<i
            class="fa-solid fa-cart-shopping ml-10"></i></a>
        {% else %}
        <a class="button bg-black white-pale green-active" href="{% url 'ecommerce:account:login' %}">Login<i
            class="fa-solid fa-user ml-10"></i></a>
        <a class="button bg-black white-pale green-active" href="{% url 'ecommerce:account:register' %}">Sign Up<i
            class="fa-solid fa-user-plus ml-10"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="form">
    <form class="nav-form" method="get" action="{% url 'ecommerce:product:search' %}">
      <input class="float-left pl-20 font-xl bg-purple-4 white w80 min-h55-px border-l border-green-4" type="text"
        value="{{ request.GET.result }}" id="search-input" placeholder="Research" name="result">
      <button type="submit" class="float-left pointer font-xl bg-green-4 white w20 min-h55-px"><i
          class="fa fa-search"></i></button>
      <div class="clear"></div>
    </form>
  </div>


</div>
<script src="{% static 'js/customNav.js' %}"></script>