{% extends 'base.html' %}


{% block content %}
<div class="container">
  <div class="mx-15">
    <div class="auto">
      <div class="card-l">
        {% for order in orders.order.all %}
        <div class="w100 p-15 bg-black border-l border-white mt-20 radius-5 white font-m">
          <a class="green font-l relative underline-s-green"
            href="{% url 'ecommerce:product:detail' order.variation.product.slug %}"> See Product Detail</a>
          <p class="my-10">Order ID: {{order.id}}</p>
          <p class="my-10">Name: {{order.variation.name}} </p>
          <p class="my-10">Price: {{order.variation.price}} </p>
          <p class="my-10">Quantity: {{order.quantity}}</p>
          <p class="my-10">Description: {{order.variation.short_description}} </p>
          <p class="my-10">Total: {{order.total}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}